$primeColor: #e2f3f5;
$secondaryColor: #3d5af1;
$strongColor: #0e153a;

footer{
    background-color: $primeColor; 
}
.footer{
    border-top: .1rem solid $secondaryColor; 
    margin: 0 1rem 0 1rem;
    min-height: 15.5rem;
}
.footer__content{
    font-family: "Roboto Bold";
    color: $strongColor;
    text-align: center;
    margin-top: 6.25rem;
}
.footer__link{
    color: $secondaryColor;
}
@media only screen and (min-width: 769px) {
    .footer{
        border-top: .2vh solid $secondaryColor;
        margin: 0 2vh 0 2vh;
        min-height: 25vh;
    }
    .footer__content{
        margin-top: 12.5vh;
    }
}