$grey: #d0d0d0;
$cyan: #7dd6cf;
$blue: #6c99bb;
$darkGrey: #505050;

.cli__root-lead{
    border-left: .05rem solid $grey;
    margin-left: .35rem;
}
.cli__dir-lead{
    border-left: .05rem solid $cyan;
    margin-left: .35rem;
}
.cli__subdir-lead{
    border-left: .05rem solid $blue;
    margin-left: .2rem;
}
.cli__root-name{
    font-size: 1.8rem;
    font-family: "Ubuntu Mono Regular";
}
.cli__dir-structure{
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu Mono Regular";
    justify-content: center;
}
.cli__dir{
    font-size: 1.6rem;
    padding-left: .5rem;
    color: $cyan;
}
.cli__subdir{
    font-size: 1.4rem;
    padding-left: .5rem;
    color: $blue;
}
.cli__dir-content{
    font-size: 1.2rem;
    padding-left: .5rem;
    color: $darkGrey;
}
@media only screen and (min-width: 769px) {
    .cli__root-name{
        font-size: 3vh;
    }
    .cli__dir-structure{
        width: 20vh;
    }
    .cli__dir{
        font-size: 2.8vh;
        padding-left: 1vh;
    }
    .cli__subdir{
        font-size: 2.6vh;
        padding-left: 1vh;
    }
    .cli__dir-content{
        font-size: 2.4vh;
        padding-left: .5vh;
    }
    .cli__dir-lead{
        border-left: .1vh solid $cyan;
        margin-left: .75vh;
    }
    .cli__subdir-lead{
        border-left: .1vh solid $blue;
        margin-left: .25vh;
    }
}