$default: #d0d0d0;
$darkDefault: #505050;
$brightDefault: #f5f5f5;
.navbar {
    display: block;
    text-align: center;
    margin: 1.25rem 0 2.5rem 0;
}
.navbar__brand  {
    display: inline-block;
    color: $default;
    font-family: "Ubuntu Mono Bold";
    font-size: 2.5rem;
    padding-right: .5rem;
    border-right: .5rem solid transparent;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
@media only screen and (min-width: 769px) {
    .navbar {
        margin: 2.5vh 0 5vh 0;
    }
    .navbar__brand{
        font-size: 4.1vh;
        padding-right: .25vh;
        border-right: .9vh solid transparent;
    }
}
@keyframes #{blink} {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: $brightDefault;
    }
}
  
@-moz-keyframes #{blink} {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: $brightDefault;
    }
}
  
@-webkit-keyframes #{blink} {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: $brightDefault;
    }
}
  
@-ms-keyframes #{blink} {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: $brightDefault;
    }
}
  
@-o-keyframes #{blink} {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: $brightDefault;
    }
}