.--msg-1{
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
}
.--msg-2{
     animation-duration: 4s;
     -webkit-animation-duration: 4s;
     -moz-animation-duration: 4s;
     -o-animation-duration: 4s;
}
.--msg-3{
     animation-duration: 5s;
     -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
     -o-animation-duration: 5s;
}
.--msg-4{
     animation-duration: 6s;
     -webkit-animation-duration :6s;
     -moz-animation-duration: 6s;
     -o-animation-duration: 6s;
}
.--msg-5{
     animation-duration: 7s;
     -webkit-animation-duration: 7s;
     -moz-animation-duration: 7s;
     -o-animation-duration: 7s;
}
.--msg-6{
     animation-duration: 8s;
     -webkit-animation-duration: 8s;
     -moz-animation-duration: 8s;
     -o-animation-duration: 8s;
}
.--msg-7{
     animation-duration: 11s;
     -webkit-animation-duration: 11s;
     -moz-animation-duration: 11s;
     -o-animation-duration: 11s;
}
.--msg-8{
     animation-duration: 14s;
     -webkit-animation-duration: 14s;
     -moz-animation-duration: 14s;
     -o-animation-duration: 14s;
}
.--msg-9{
     animation-duration: 18s;
     -webkit-animation-duration: 18s;
     -moz-animation-duration: 18s;
     -o-animation-duration: 18s;
}
.--msg-10{
     animation-duration: 19s;
     -webkit-animation-duration: 19s;
     -moz-animation-duration: 19s;
     -o-animation-duration: 19s;
}
.--msg-11{
     animation-duration: 20s;
     -webkit-animation-duration: 20s;
     -moz-animation-duration: 20s;
     -o-animation-duration: 20s;
}
.--msg-12{
     animation-duration: 21s;
     -webkit-animation-duration: 21s;
     -moz-animation-duration: 21s;
     -o-animation-duration: 21s;
}
.--msg-13{
    animation-duration: 22s; 
    -webkit-animation-duration: 22s;
    -moz-animation-duration: 22s;
    -o-animation-duration: 22s;
}
.--msg-14{
    animation-duration: 23s; 
    -webkit-animation-duration: 23s;
    -moz-animation-duration: 23s;
    -o-animation-duration: 23s;
}
.--msg-15{
    animation-duration: 24s; 
    -webkit-animation-duration: 24s;
    -moz-animation-duration: 24s;
    -o-animation-duration: 24s;
}