$default: #d0d0d0;
$darkDefault: #505050;
$brightDefault: #f5f5f5;
$error: #ac4142;
$brightError: #ac4142;
$info: #7dd6cf;
$brightInfo: #7dd6cf;
$status: #7e8e50;

.page-command{
    display: flex;
}
.page-command__block h1{
    color: $status;
    font-size: 1.45rem;
}
.page-command__block h2{
    font-size: 1.225rem;
}
.page-command__block h3{
    font-size: 1.12rem;
}
.page-command__block strong{
    color: $darkDefault;
}
.page-command__block em{
    color: $brightInfo;
}
.page-command__block{
    color: $default;
    border: .1rem dotted $default;
    width: 170vh;
    flex: 1;
    margin: 0 .5rem 0 .5rem;
    font-family: "Ubuntu Mono Bold";
    font-size: 1.2rem;
}
.page-command__output{
    flex-grow: 1;
}
.page-command__output-text{
    color: $info;
    display: inline-block;
    margin: 2rem .5rem 0 0;
    padding: 1rem;
    padding-top: 1.5rem;
    padding-right: 5rem;
    border: .15rem solid $darkDefault;
    font-family: "Ubuntu Mono Regular";
    text-align: left;
}
.page-command__output{    
    height: 38rem;
    padding-top: .5rem;
    padding-left: .5rem;
}
.page-command__input{
    border-top: .05rem dashed $default;
    min-height: 2rem;
    padding-top: .75rem;
    padding-left: .5rem;
}
.page-command__input *{
    color: $brightDefault;
    font-family: "Ubuntu Mono Regular";
    font-size: 1rem;
}
.page-command__input-label{
    color: $brightInfo;
}
.page-command__input-text{
    background-color: transparent;
    border: none;
    width: 14rem;
}
@media only screen and (min-width: 769px) {
    .page-command__block{
        border: .1vh dashed $default;
        margin: 0 5vh 0 5vh;
        font-size: 1.8vh;
    }
    .page-command__block h1{
        font-size: 2.7vh;
    }
    .page-command__block h2{
        font-size: 2.3vh;
    }
    .page-command__block h3{
        font-size: 2.15vh;
    }
    .page-command__output{    
        height: 80vh;
        padding-top: 1vh;
        padding-left: 1vh;
    }
    .page-command__output-text{
        margin: 4vh 0 0;
        padding: 2vh;
        padding-top: 3vh;
        padding-right: 10vh;
        border: .3vh solid $darkDefault;
    }
    .page-command__input{
        border-top: .1vh dashed $default;
        min-height: 4vh;
        padding-top: 1.5vh;
        padding-left: 1vh;
    }
    .page-command__input *{
        font-size: 2vh;
    }
    .page-command__input-text{
        width: 150vh;
    }
}