$grey: #d0d0d0;
$brightGrey: #f5f5f5;
$cyan: #7dd6cf;
$blue: #6c99bb;
$green: #7e8e50;
$darkGrey: #505050;

.cli{ 
    display: grid;
}
.cli__block{
    color: $grey;
    flex: 1;
    font-family: "Ubuntu Mono Bold";
    border: .05rem dashed $grey;
    font-size: 1.2rem;
}
.cli__status{
    display: inline-block;
    color:  $green;
    font-size: 1.9rem;
}
.cli__info{
    display: inline-block;
    font-size: 1.8rem;
}
.cli__source{
    display: inline-block;
    color:  $darkGrey;
}
.cli__output{   
    flex: 1; 
    min-height: 132vw;
    padding-top: .5rem;
    padding-left: .5rem;
}
.cli__input{
    display: flex;
    flex-direction: column;  
    border-top: .05rem dashed $grey;
    min-height: 2rem;
}
.cli__input *{
    color: $brightGrey;
    font-family: "Ubuntu Light";
    font-size: 1rem;
}
.cli__input-text-container{
    display: flex;
    justify-content: row;
    margin: .5rem 0;
}
.cli__input-label{
    font-family: "Ubuntu Mono Regular";
    color: $cyan;
    margin-left: .25rem;
}
.cli__input-text{
    background-color: transparent;
    border: none;
    flex: 1;
    height: 1rem;
    margin-left: .25rem;
}
.cli__input-text:focus{
    outline-width: 0; 
}
.cli__input-submit{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    min-height: 4rem;
    border-top: .05rem dashed $grey;
    outline:none;
}
@media only screen and (min-width: 769px) {
    .cli__block{
        border-top: none;
        border-bottom: none;
        border: .1vh dashed $grey;
        margin: 0 5vh 0 5vh;
        font-size: 1.8vh;
    }
    .cli__status{
        font-size: 4vh;
    }
    .cli__info{
        font-size: 3vh;
    }
    .cli__output{    
        min-height: 80vh;
        padding-top: 1vh;
        padding-left: 1vh;
    }
    .cli__output-text{
        margin: 1vh .25vh 0 0;
    }
    .cli__input{
        flex-direction: row; 
        border-top: .1vh dashed $grey;
        min-height: 4vh;
    }
    .cli__input *{
        font-size: 2vh;
    }
    .cli__input-text-container{
        display: flex;
        flex: 2;
        margin: 1vh .5vh 0;
    }
    .cli__input-label{
        margin-right: none;
    }
    .cli__input-text{
        min-height: 2vh;
        margin: 0 0 0 1vh;
    }
    .cli__input-submit{
        min-height: 4vh;
        min-width: 10vh;
        border-top: none;
        border-left: .1vh dashed $grey;
    }
}