$grey: #d0d0d0;
$brightGrey: #f5f5f5;
$cyan: #7dd6cf;
$blue: #6c99bb;
$green: #7e8e50;
$darkGrey: #505050;

.cli{
    display: flex;
}
.cli__block{
    color: $grey;
    border: .05rem dashed $grey;
    width: 170vh;
    flex: 1;
    margin: 0 .5rem 0 .5rem;
    font-family: "Ubuntu Mono Bold";
    font-size: 1.2rem;
}
.cli__status{
    color:  $green;
    font-size: 2rem;
}
.cli__info{
    font-size: 1.8rem;
}
.cli__source{
    color:  $darkGrey;
}
.cli__output{
    flex-grow: 1;
}
.cli__output{    
    min-height: 38rem;
    padding-top: .5rem;
    padding-left: .5rem;
}
.cli__input{
    display: flex;
    border-top: .05rem dashed $grey;
    min-height: 2rem;
    padding-left: .5rem;
    flex-direction: row;  
}
.cli__input *{
    color: $brightGrey;
    font-family: "Ubuntu Mono Regular";
    font-size: 1rem;
}
.cli__input-label{
    color: $cyan;
}
.cli__input-text{
    height: 1rem;
    flex-grow: 2;
    background-color: transparent;
    border: none;
    margin: 0 .5rem 0 .5rem;
}
.cli__input-text:focus{
    outline-width: 0;
}
.cli__input-label , .cli__input-text{
    margin-top: .5rem;
}
.cli__input-submit{
    background-color: transparent;
    float: right;
    border: none;
    min-height: 2rem;
    border-left: .05rem dashed $grey;
    cursor: pointer;
}
@media only screen and (min-width: 769px) {
    .cli__input-text{
        height: 2vh;
        margin: 0 1vh 0 1vh;
    }
    .cli__block{
        border: .1vh dashed $grey;
        margin: 0 5vh 0 5vh;
        font-size: 1.8vh;
    }
    .cli__status{
        font-size: 4vh;
    }
    .cli__info{
        font-size: 3vh;
    }
    .cli__output{    
        min-height: 80vh;
        padding-top: 1vh;
        padding-left: 1vh;
    }
    .cli__output-text{
        margin: 1vh .25vh 0 0;
    }
    .cli__input{
        border-top: .1vh dashed $grey;
        min-height: 4vh;
        padding-left: 1vh;
    }
    .cli__input *{
        font-size: 2vh;
    }
    .cli__input-label , .cli__input-text{
        margin-top: 1vh;
    }
    .cli__input-submit{
        min-height: 4vh;
        border-left: .1vh dashed $grey;
    }
}