.--home-sys-msg-1{
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
}
.--home-sys-msg-2{
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
}
.--home-sys-msg-3{
    animation-duration: 3s; 
    -webkit-animation-duration: 3s; 
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
}
.--home-sys-msg-4{
    animation-duration: 4s; 
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -o-animation-duration: 4s;
}