@font-face {
    font-family: "Ubuntu Mono Regular";
    src: url("./fonts/Ubuntu-Mono/ttf/UbuntuMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Ubuntu Light";
    src: url("./fonts/Ubuntu/ttf/Ubuntu-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Ubuntu Regular";
    src: url("./fonts/Ubuntu/ttf/Ubuntu-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Ubuntu Medium";
    src: url("./fonts/Ubuntu/ttf/Ubuntu-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Ubuntu Mono Bold";
    src: url("./fonts/Ubuntu-Mono/ttf/UbuntuMono-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Ubuntu Bold";
    src: url("./fonts/Ubuntu/ttf/Ubuntu-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
$background: #212121;

html{
    background-color: $background;
}
main{
    margin: 0 .25vw 0 .25vw;
}
@media only screen and (min-width: 769px) {
    main{
        margin: 0;
    }
}